@import "variables.less";

#rightDiv {
    height: auto;
    padding: @u*2; 
    box-sizing: border-box;
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    right: 0;
    top: 0;

    > div {
	margin-bottom: @u;
    }

    textarea {
	width: 100%;
	height: 200px;
    }
}
