@font-face{
  font-family: 'ocr';
  src: url('font/Ocr-Pbi-pen_x1_y1.ttf');
}

/* Unité de base en largeur = 5.263157895% */
/* Unité de base en hauteur = 9.09% */

body{
  font-family: 'ocr';
  overflow-x: hidden;
  margin: 10px;
}

a{
  text-decoration: none;
  color: black;
}

a:hover{
  text-decoration: underline;
}

header{
  position: fixed;
  text-transform: uppercase;
  /*border: 1px solid black;*/
  /*background: white;*/
  left: 10px;
  top: 10px;
  width: calc(~'15.789473685% - 10px');
  font-size: 14px;
  line-height: 1.2em;
}

header ul ul{
  margin-left: 18px;
}

#nav ul li:hover{
  cursor: pointer;
  text-decoration: underline;
}

#textPrez{
  position: fixed;
  /*top: 0;*/
  /*padding-top: 9px;*/
  margin-left: 15.789473685%;
  font-size: 18px;
  line-height: 1.28em;
  /*background: white;*/
  /*z-index: 100;*/
}

#textPrez span:hover{
  cursor: pointer;
}

#datasDiv{
  position: absolute;
  margin-left: 15.789473685%;
  top: 9.09%;
  right: 9px;
  margin-top: 9px;
  /*background: white;*/
  left: 7px;
  /*width: 100%;*/
}

.item{
  margin-bottom: 10px;
  float: left;
}

.item .images{
  width: 100%;
}

.item .infos{
  display: none;
}

.item .images img{
  width: calc(~'100% - 10px');
  margin: 0px 5px;
  cursor: pointer;
}

.item .imagesBig{
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 8px;
  right: 8px;
  z-index: 100;
  background: black;
  margin-left: 15.789473685%;
  margin-right: 21.05263158%;
  overflow-y: auto;
  padding: 20px;
}

.item .imagesBig .infos{
  margin-bottom: 20px;
  font-size: 18px;
  color: white;
}

.item .imagesBig .infos p{
  margin: 5px 5px;
  font-size: 14px;
}

.item .imagesBig img{
  max-width: 800px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.item .infosBig{
  z-index: 500;
  position: fixed;
  bottom: 10px;
  left: 10px;
  width: 600px;
  color: white;
  background: black;
  max-height: 400px;
  overflow-y: auto;
  font-size: 16px;
}

.right{

}

.right .images{
  display: none;
}

.right .infos{
  display: block;
  margin-top: 10px;
  right: 8px;
  width: 21.05263158%;
}

#grid{
  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: -10;
}

.grid{
  width: 5.263157895%;
  height: 9.09%;
  outline: 1px solid black;
  float: left;
}

#sort{
  position: fixed;
  top: 9px;
  right: 9px;
  width: calc(~'5.263157895% - 10px');
  background: white;
  border: 1px solid black;
  z-index: 1000;
  display: none;
}

#sort.large{
  width: calc(~"31.57894737% - 15px");
}

#sort h1{
  padding: 5px 10px;
}

#sort h1:hover{
  cursor: pointer;
  background: black;
  color: white;
}

#sort .colonne{
  border-top: 1px solid black;
  box-sizing: border-box;
  width: 33.33%;
  float: left;
  overflow-y: scroll;
  padding: 10px;
  max-height: 300px;
}

#sort .colonne ul{
  margin-left: 29px;
}

#sort .colonne li{
  cursor: pointer;
}

#sort .colonne li:before{
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-size: 12px 12px;
}

#sort .colonne .checked:before{
  background-image: url(../img/carre_checked.svg);
}

#sort .colonne .unchecked:before{
  background-image: url(../img/carre.svg);
}

#sort .colonne .title:before{
  background: none;
}

#sort .categories h2,
#sort .personnes h2,
#sort .date h2{
  text-decoration: underline;
  padding: 10px 0px;
}
